html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 #0f172a;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
/* ============================= */
/*   GLOBAL WEBSITE SCROLLBAR   */
/* ============================= */

/* WebKit Browsers (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
}

html::-webkit-scrollbar-track {
    background: #0f172a; /* Dark background */
}

html::-webkit-scrollbar-thumb {
    background: #94a3b8; /* Light grey thumb */
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1; /* Lighter on hover */
}

/* Navbar entrance animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-navbar {
    animation: slideDown 0.8s ease forwards;
}
/* hero section */
/* ENTRY ANIMATION */

.hero-left,
.hero-right {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.hero-left.show,
.hero-right.show {
    opacity: 1;
    transform: translateY(0);
}

/* STAT CARDS */

.stat-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.hero-right.show .stat-card {
    opacity: 1;
    transform: translateY(0);
}

/* COUNTER STYLE */

.stat-card p {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #cbd5e1;
    text-align: center;
}

#Portfolio {
    animation: slideup 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    /* transition: all 3s cubic-bezier(0.22, 1, 0.36, 1); */
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 639px) {
.sub-image{
    aspect-ratio: 1/1;
    background-size: cover;
}
}